/*********************************
 METRONIC SQUARE STYLE COMPONENTS 
*********************************/
/***
Rounded corners reset
***/
/* Reset rounded corners for all elements */
div,
span,
img,
p,
a,
ul,
li {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

/* except below bootstrap elements */

/***
General reset
***/
/* Set default body */
body {
  color: #333333;
  font-family: "Open Sans", sans-serif;
  padding: 0px !important;
  margin: 0px !important;
  font-size: 13px;
  direction: ltr;
}

/*
 Internet Explorer 10 doesn't differentiate device width from viewport width, and thus doesn't 
 properly apply the media queries in Bootstrap's CSS. To address this, 
 you can optionally include the following CSS and JavaScript to work around this problem until Microsoft issues a fix.
*/
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
/*
 Internet Explorer 10 doesn't differentiate device width from viewport width, 
 and thus doesn't properly apply the media queries in Bootstrap's CSS. To address this, following CSS code applied 
*/
@-ms-viewport {
  width: auto !important;
}

/* bubble animation */

/* bubble animation */
/***
General typography
***/
/* Headings */
h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

h3 {
  font-size: 23px;
}

/* Headings helper text */

/* Block headings */

/* Links */
a {
  text-shadow: none;
  color: #5b9bd1;
}
a:hover {
  color: #3175af;
}
a:focus, a:hover, a:active {
  outline: 0;
}

/* Horizontal break */

/* Unstyled List */

/* Code */

/* Disabled Navigation Link */

/***
Utilities
***/
/* Links */
a:hover {
  cursor: pointer;
}

/* Primary Link */

/* Rounded Element */

/* Circle Element */

/* General utilities */

/* Margin and padding utilities */

/* IE8 & IE9 mode utilities */

/***
Responsive Utils
***/

/***
Users
***/


.navbar-nav .open .dropdown-menu {
    background-color: #ffffff;
    border: 1px solid #efefef;
    box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
    float: left;
    margin-top: 0;
    position: absolute;
    width: auto;
}
.display-none, .display-hide {
    display: none;
}
.nav.pull-right > li > .dropdown-menu::after, .nav > li > .dropdown-menu.pull-right::after {
    left: auto;
    right: 13px;
}

.nav.pull-right > li > .dropdown-menu::before, .nav > li > .dropdown-menu.pull-right::before {
    left: auto;
    right: 12px;
}
.nav.pull-right > li > .dropdown-menu {
  right: 0;
  left: auto;
}
.nav.pull-right > li > .dropdown-menu:before {
  right: 12px;
  left: auto;
}
.nav.pull-right > li > .dropdown-menu:after {
  right: 13px;
  left: auto;
}

@media (max-width: 767px) {
  /* 767px */
}

[class*=" fa-"] {
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    margin-top: 1px;
}
.btn {
    background-image: none !important;
    border-width: 0;
    box-shadow: none;
    filter: none;
    font-size: 14px;
    outline: medium none !important;
    padding: 7px 14px;
    text-shadow: none;
}
.btn:hover, .btn:disabled, .btn:focus, .btn:active {
    background-image: none !important;
    box-shadow: none;
    filter: none;
    outline: medium none !important;
    text-shadow: none;
}
.btn + .btn {
    margin-left: 5px;
}
.btn-circle {
    border-radius: 0px !important;
}
.help-block {
    margin-bottom: 5px;
    margin-top: 5px;
}
.control-label {
    margin-top: 1px;
}
.form {
    padding: 0 !important;
}
.form .form-body {
    padding: 40px 0px 20px;
}
.form .form-actions {
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    margin: 0;
    padding: 20px 10px;
}
.portlet .form .form-actions {
    border-radius: 0 0 4px 4px;
}
.form .form-actions::before, .form .form-actions::after {
    content: " ";
    display: table;
}
.form .form-actions::after {
    clear: both;
}
@media (max-width: 767px) {
.form .form-actions {
}
}
.form-control::-moz-placeholder {
    color: #b3b3b3;
    opacity: 1;
}
.form-control {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    box-shadow: none;
    color: #333;
    font-size: 14px;
    font-weight: normal;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.form-control:focus {
    border-color: #999;
    box-shadow: none;
    outline: 0 none;
}
.input-group .input-group-addon {
    background: #e5e5e5 none repeat scroll 0 0;
    border-color: #e5e5e5;
    min-width: 39px;
}
.input-group .input-group-addon > i {
    color: #999;
}
input.spinner[type="password"] {
    background-image: url("../img/input-spinner.gif") !important;
    background-position: right 8px;
    background-repeat: no-repeat;
}
label {
    font-size: 14px;
    font-weight: 400;
}
.form-control-static {
    display: inline-block;
    margin: 2px 0;
}
.input-circle {
    border-radius: 0px !important;
}
.input-circle-right {
    border-radius: 0px !important;
}
.input-circle-left {
   border-radius: 0px !important;
}
.input-icon {
    position: relative;
}
.input-icon > .form-control {
    padding-left: 33px;
}
.input-icon > i {
    color: #ccc;
    display: block;
    font-size: 16px;
    margin: 11px 2px 4px 10px;
    position: absolute;
    text-align: center;
    width: 16px;
    z-index: 3;
}
.input-icon.right > .form-control {
    padding-left: 12px;
    padding-right: 33px;
}
.input-icon.right > i {
    float: right;
    right: 8px;
}
.portlet {
    border-radius: 4px;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}
.portlet > .portlet-title {
    border-bottom: 1px solid #eee;
    border-radius: 4px 4px 0 0;
    margin-bottom: 10px;
    min-height: 41px;
    padding: 0;
}
.portlet > .portlet-title::before, .portlet > .portlet-title::after {
    content: " ";
    display: table;
}
.portlet > .portlet-title::after {
    clear: both;
}
.portlet > .portlet-title > .caption {
    display: inline-block;
    float: left;
    font-size: 18px;
    line-height: 18px;
    padding: 10px 0;
}
.portlet > .portlet-title > .caption > i {
    color: #666;
    display: inline-block;
    float: left;
    font-size: 13px;
    margin-right: 5px;
    margin-top: 4px;
}
.portlet > .portlet-title > .tools {
    display: inline-block;
    float: right;
    padding: 12px 0 8px;
}
.portlet > .portlet-title > .tools > a {
    display: inline-block;
    height: 16px;
    margin-left: 5px;
    opacity: 1;
}
.portlet > .portlet-title > .tools > a.remove {
    background-image: url("../img/portlet-remove-icon.png");
    background-repeat: no-repeat;
    width: 11px;
}
.portlet > .portlet-title > .tools > a.config {
    background-image: url("../img/portlet-config-icon.png");
    background-repeat: no-repeat;
    width: 12px;
}
.portlet > .portlet-title > .tools > a.reload {
    background-image: url("../img/portlet-reload-icon.png");
    width: 13px;
}
.portlet > .portlet-title > .tools > a.collapse {
    background-image: url("../img/portlet-collapse-icon.png");
    visibility: visible;
    width: 14px;
}
.portlet > .portlet-title > .tools > a:hover {
    opacity: 0.8;
    text-decoration: none;
    transition: all 0.1s ease-in-out 0s;
}
.portlet > .portlet-body {
    border-radius: 0 0 4px 4px;
    clear: both;
}
.portlet.box {
    padding: 0 !important;
}
.portlet.box > .portlet-title {
    border-bottom: 0 none;
    color: #fff;
    margin-bottom: 0;
    padding: 0 10px;
}
.portlet.box > .portlet-title > .caption {
    padding: 11px 0 9px;
}
.portlet.box > .portlet-title > .tools > a.remove {
    background-image: url("../img/portlet-remove-icon-white.png");
}
.portlet.box > .portlet-title > .tools > a.config {
    background-image: url("../img/portlet-config-icon-white.png");
}
.portlet.box > .portlet-title > .tools > a.reload {
    background-image: url("../img/portlet-reload-icon-white.png");
}
.portlet.box > .portlet-title > .tools > a.collapse {
    background-image: url("../img/portlet-collapse-icon-white.png");
}
.portlet.box > .portlet-body {
    background-color: #fff;
    padding: 10px;
}
.btn.default {
    background-color: #e5e5e5;
    color: #333333;
}
.btn.default:hover, .btn.default:focus, .btn.default:active {
    background-color: lightgray;
    color: #333333;
}
.btn.default:active {
    background-color: #c6c6c6;
    background-image: none;
}
.btn.default:active:hover {
    background-color: #cccccc;
}
.blue.btn {
    background-color: #3598dc;
    color: #ffffff;
}
.blue.btn:hover, .blue.btn:focus, .blue.btn:active {
    background-color: #2386ca;
    color: #ffffff;
}
.blue.btn:active {
    background-color: #1f78b5;
    background-image: none;
}
.blue.btn:active:hover {
    background-color: #217ebd;
}
.portlet.green {
    background-color: #0099cc;
}
.portlet.box.green {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #30d0c1 #30d0c1;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
}
.portlet.box.green > .portlet-title {
    background-color: #0099cc;
}
.portlet.box.green > .portlet-title > .caption {
    color: #ffffff;
}
.portlet.box.green > .portlet-title > .caption > i {
    color: #ffffff;
}

table.dataTable thead .sorting {
    background: rgba(0, 0, 0, 0) url("../img/sort_both.png") no-repeat scroll right center;
}
table.dataTable thead .sorting_asc {
    background: rgba(0, 0, 0, 0) url("../img/sort_asc.png") no-repeat scroll right center;
}
table.dataTable thead .sorting_desc {
    background: rgba(0, 0, 0, 0) url("../img/sort_desc.png") no-repeat scroll right center;
}

table.dataTable thead .sorting::after {
    content: "" !important;
}
table.dataTable thead .sorting_asc::after {
    content: "" !important;
}
table.dataTable thead .sorting_desc::after {
    content: "" !important;
}

.dashboard-stat.blue-soft {
    background-color: #4c87b9; border-radius: 10px !important;
}
.dashboard-stat i { color:#FFFFFF; opacity:0.1}

.dashboard-stat.gray-soft {
    background-color: #828682; border-radius: 10px !important;
}
.dashboard-stat-light {
    padding-top: 10px;
    padding-bottom: 10px;
}
.dashboard-stat {
    border-radius: 4px;
    display: block;
    overflow: hidden;
}
.desc .row { border-bottom:1px solid #999; margin:0px;}
.desc > a {
    color: #fff;
}
.dashboard-stat:hover { box-shadow: 0 0 10px rgba(0,0,0,0.3);
-moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
-o-box-shadow: 0 0 10px rgba(0,0,0,0.3);}
.dashboard-stat.red-soft {
    background-color: #d05454; border-radius: 10px !important;
}

.dashboard-stat.green-soft {
    background-color: #3faba4; border-radius: 10px !important;
}
.dashboard-stat.purple-soft {
    background-color: #57ac49; border-radius: 10px !important;
}

.dashboard-stat.yellow-soft {
    background-color: #ffa800; border-radius: 10px !important;
}

.dashboard-stat .visual {
    display: block;
    float: left;
    font-size: 35px;
    height: 80px;
    line-height: 35px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-top: 10px;
    width: 80px;
}
.dashboard-stat-light .details {
    margin-bottom: 5px;
}
.dashboard-stat .details {
    padding-right: 15px;
	 padding-left: 15px;
    
}
.dashboard-stat.purple-soft .visual > i {
    color: #ffffff;
    opacity: 0.1;
}
.dashboard-stat .visual > i {
    font-size: 110px;
    line-height: 110px;
    margin-left: -35px;
}
dashboard-stat.purple-soft .details .number {
    color: #ffffff;
}
.dashboard-stat-light .details .number {
    font-weight: 300;
    margin-bottom: 0;
}
.dashboard-stat .details .number {
    font-size: 34px;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 36px;
    margin-bottom: 0;
    padding-top: 5px;
    text-align: left;     color: #ffffff;
}
.dashboard-stat.purple-soft .details .desc {
    color: #ffffff;
    opacity: 1;
}
.dashboard-stat .details .desc {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    text-align: left;     color: #333; background-color:#fff; margin: 10px 0;
	height:300px; overflow:auto;
}

.h1, h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.modal {z-index: 10040;}

.modal-dialog {
    margin: -80px auto 30px;
    top: 20%;
    width: 800px;
}
.dashboard-stat .number i {color: #ffff00;    opacity: 1;}
.modal-header {    background-color: #337ab7; color:#FFFFFF;}

.portlet.box.blue {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #60aee4 #60aee4;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
}
.portlet > .portlet-body.blue, .portlet.blue {
    background-color: #3598dc;
}

.portlet.box.yellow {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #d0b36e #d0b36e;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
}
.portlet > .portlet-body.yellow, .portlet.yellow {
    background-color: #c49f47;
}
.portlet.box {
    padding: 0 !important;
}
.portlet.box.purple {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #a57fb5 #a57fb5;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
}
.portlet > .portlet-body.purple, .portlet.purple {
    background-color: #8e5fa2;
}

.btn-group-lg > .btn, .btn-lg {border:0; margin-right:15px; border-radius: 6px !important;}

.btn-lg:hover { text-decoration:none;}

input[type="checkbox"] { margin-top:12px;}

.desc h1 {
    font-size: 18px;
}

@media only screen and (min-width:320px) and (max-width:640px){
.mobilefix { clear:both}
.buttons  a {margin-right:10px;}
.buttons .btn-lg { width:45%; float:left;  margin-bottom:10px;}
.hotelmanger  {margin-left: 0px !important; font-size: 12px !important; line-height: 17px !important;}
}




span.multiselect-native-select {
	position: relative
}
span.multiselect-native-select select {
	border: 0!important;
	clip: rect(0 0 0 0)!important;
	height: 1px!important;
	margin: -1px -1px -1px -3px!important;
	overflow: hidden!important;
	padding: 0!important;
	position: absolute!important;
	width: 1px!important;
	left: 50%;
	top: 30px
}
.multiselect-container {
	position: absolute;
	list-style-type: none;
	margin: 0;
	padding: 0
}
.multiselect-container .input-group {
	margin: 5px
}
.multiselect-container>li {
	padding: 0
}
.multiselect-container>li>a.multiselect-all label {
	font-weight: 700
}
.multiselect-container>li.multiselect-group label {
	margin: 0;
	padding: 3px 20px 3px 20px;
	height: 100%;
	font-weight: 700
}
.multiselect-container>li.multiselect-group-clickable label {
	cursor: pointer
}
.multiselect-container>li>a {
	padding: 0
}
.multiselect-container>li>a>label {
	margin: 0;
	height: 100%;
	cursor: pointer;
	font-weight: 400;
	padding: 3px 0 3px 30px
}
.multiselect-container>li>a>label.radio, .multiselect-container>li>a>label.checkbox {
	margin: 0
}
.multiselect-container>li>a>label>input[type=checkbox] {
	margin-bottom: 5px
}
.btn-group>.btn-group:nth-child(2)>.multiselect.btn {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px
}
.form-inline .multiselect-container label.checkbox, .form-inline .multiselect-container label.radio {
	padding: 3px 20px 3px 40px
}
.form-inline .multiselect-container li a label.checkbox input[type=checkbox], .form-inline .multiselect-container li a label.radio input[type=radio] {
	margin-left: -20px;
	margin-right: 0
}

.multisel .btn-group > .btn:first-child {border: 1px solid #ccc; width: 100%; text-align: left;}
.multisel .btn-group {width: 100%;}
.multisel .dropdown-menu > .active > a {background-color:#fff; color:#333;}

.multisel input[type="checkbox"] {
    margin-top: 0px;
}
.multisel .caret {float: right; margin-top: -10px;}
.number span a {color:#fff; text-decoration:none; font-size:18px; padding-bottom:10px; display:inherit}
.number span a:hover {color:#fff; text-decoration:none;}
.dashmrag { margin-top:40px; margin-bottom:50px;}