/*********** 
Page Header
***********/
/* Header search bar, toggler button & top menu */
.page-header.navbar {
  /* Top notification menu/bar */
  /* Header seaech box */
}
.page-header.navbar .page-logo {
  background: #027da6;
}
.page-header.navbar .page-top {
  box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.2);
  background: #ffffff;
}
.page-header.navbar .top-menu .navbar-nav {
  /* Extended Dropdowns */
  /* Notification */
  /* Inbox */
  /* Tasks */
  /* User */
  /* Language */
  /* Dark version */
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover {
  background-color: #f9fafc;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle > i {
  color: #C0CDDC;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu:before {
  border-bottom-color: #e4e8ee;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username {
  color: #7f96ac;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > i {
  color: #7f96ac;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-menu {
  width: 195px;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a, .page-sidebar .page-sidebar-menu > li:hover > a, .page-sidebar .page-sidebar-menu > li.open > a {
    background: #465460 none repeat scroll 0 0;
    color: white;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class^="icon-"], .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class*="icon-"], .page-sidebar .page-sidebar-menu > li > a > i[class^="icon-"], .page-sidebar .page-sidebar-menu > li > a > i[class*="icon-"] {
    color: #fff;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > i, .page-sidebar .page-sidebar-menu > li:hover > a > i, .page-sidebar .page-sidebar-menu > li.open > a > i {
    color: #8cacc3;
}

/* Page sidebar */
.page-sidebar {
  background-color: #0099cc;
  /* Default sidebar */
}
.page-sidebar .page-sidebar-menu {
  /* 1st level links */
  /* All links */
}
.page-sidebar .page-sidebar-menu > li > a {
  border-top: 1px solid #3eb6de;
  color: #fff;
}
@media (max-width: 991px) {
  .page-sidebar .page-sidebar-menu > li > a {
    /* 991px */
    border-top: 1px solid #3eb6de;
  }
}
.page-sidebar .page-sidebar-menu > li > a > i {
  color: #fff;
}
.page-sidebar .page-sidebar-menu > li > a > i[class^="icon-"],
.page-sidebar .page-sidebar-menu > li > a > i[class*="icon-"] {
  color: #fff;
}
.page-sidebar .page-sidebar-menu > li > a > .arrow:before {
  color: #677a8c;
}
.page-sidebar .page-sidebar-menu > li:hover > a {
  background: #465460;
  color: white;
}
.page-sidebar .page-sidebar-menu > li:hover > a > i {
  color: #8cacc3;
}
.page-sidebar .page-sidebar-menu > li:hover > a > .arrow:before {
  color: #8cacc3;
}
.page-sidebar .page-sidebar-menu > li.active > a {
  background: #44515d;
  color: white;
}
.page-sidebar .page-sidebar-menu > li.active > a:hover {
  background: #495663;
}
.page-sidebar .page-sidebar-menu > li.active > a > i {
  color: #15c1df;
}
.page-sidebar .page-sidebar-menu > li:last-child > a {
  border-bottom: 1px solid transparent !important;
}
.page-sidebar .page-sidebar-menu li > a > .arrow:before {
  color: #fff;
}
.page-sidebar .page-sidebar-menu li:hover > a > .arrow:before {
  color: #8cacc3;
}
.page-sidebar-closed
.page-sidebar .page-sidebar-menu:hover .sub-menu {
  background: #404c57;
}
.page-sidebar .page-sidebar-menu .sub-menu > li > a {
  color: #e4e7eb;
}
.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a {
  background: #465460 !important;
}

/******
Page Footer 
******/
.page-footer .page-footer-inner {
  color: #d5dbe0;
}

.page-boxed .page-footer .page-footer-inner {
  color: #121618;
}

@media (min-width: 992px) {
  /* 992px */
  /* Sidebar menu closed */
  .page-sidebar-menu.page-sidebar-menu-hover-submenu li:hover > .sub-menu {
    box-shadow: 5px 5px rgba(48, 48, 48, 0.2);
  }

  /* Fixed Sidebar */

  /* Boxed Layout */
  .page-boxed {
    background-color: #c0c6c2 !important;
    /* Page container */
  }
  .page-boxed .page-container {
    background-color: #0099cc;
  }

  /* Sidebar Menu Wirh Hoverable Submenu */
  .page-sidebar-menu-hover-submenu li:hover a > .arrow {
    border-right: 8px solid #404c57;
  }
  .page-sidebar-menu-hover-submenu li:hover > .sub-menu {
    background: #404c57 !important;
  }
}
@media (max-width: 991px) {
  /* 991px */
  .page-container {
    background: #F1F3FA;
  }

  .page-header.navbar {
    box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.2);
    padding: 0;
    /* Top menu */
  }
  .page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle:hover {
    background-color: #f6f7fa;
  }
  .page-header.navbar .page-top {
    box-shadow: none;
  }
}
@media (max-width: 767px) {
  /* 767px */
  .page-header.navbar {
    background: #14B9D6;
    /* Top menu */
  }
  .page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle:hover {
    background-color: #eff1f6;
  }
}
/****
 CSS3 Spinner Bar  
****/

/****
Boby
****/
body {
  background-color: #4d5b69;
}

body.page-boxed {
  background-color: #c8cdca;
}
